<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBC" connectionString="Server=172.18.216.251;DataBase=GPSFinancial;User ID=GPS;Password=123;Pooling=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WCFWebEndPointBehavior">
          
          <webHttp defaultOutgoingResponseFormat="Json" defaultBodyStyle="Bare"  />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WCFWebServiceBehavior" >
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"  multipleSiteBindingsEnabled="true"  />
    <services>
      <service name="ZFrame.WCFServices" behaviorConfiguration="WCFWebServiceBehavior">
        <endpoint address="" behaviorConfiguration="WCFWebEndPointBehavior" binding="webHttpBinding" contract="ZFrame.WCFServices"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>


