<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="JScript" Description="Generates a very simple business object." ResponseEncoding="UTF-8" %>
<%@ Property Name="NameSpace" Type="String" Category="Text" Default="Sunfishlu." Description="The namespace to use for this class" %>
<%-- 数据库 --%>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" DeepLoad="True" Optional="False" Category="01. Getting Started - Required" Description="Database that the tables views, and stored procedures should be based on. IMPORTANT!!! If SourceTables and SourceViews are left blank, the Entire Database will then be generated."%>
<%--注册模版--%>
<%@ Register Name="EntityTemplate" Template="Entity.cst" MergeProperties="Flase" ExcludeProperties=""%>
<%@ Register Name="BLLTemplate" Template="BLL.cst" MergeProperties="Flase" ExcludeProperties=""%>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%this.BatchMake(); %>
全部完成！

<script runat="template">
private string Directory = String.Empty;
[Editor(typeof(System.Windows.Forms.Design.FolderNameEditor), typeof(System.Drawing.Design.UITypeEditor))] 
[Optional, NotChecked]
[DefaultValue("")]
    public string OutputDirectory 
    { 
        get
        {
            return Directory;
        }
        set
        {
            if (value.EndsWith("\\")) value = value.Substring(0, value.Length -1);
            Directory = value;
        } 
}

private void BatchMake()
{
    EntityTemplate  entityTemplate =new EntityTemplate();
    BLLTemplate bLLTemplate =new BLLTemplate();
    foreach(TableSchema table in this.SourceDatabase.Tables)
    {
        //生成模板
        entityTemplate.SetProperty("SourceTable",table);
        bLLTemplate.SetProperty("SourceTable",table);
     
        string EFileDirectory = OutputDirectory +"\\Entity\\"+ table.Name +".cs";
        entityTemplate.RenderToFile(EFileDirectory,true);
        
        string BFileDirectory = OutputDirectory +"\\BLL\\"+ bLLTemplate.GetClassName(table.Name) +".cs";
        
        bLLTemplate.RenderToFile(BFileDirectory,true);
        
    }
}
</script>
