<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBC" connectionString="Server=172.18.216.251;DataBase=GPSFinancial;User ID=GPS;Password=123;Pooling=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WCFWebEndPointBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" defaultBodyStyle="Bare"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WCFWebServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service behaviorConfiguration="WCFWebServiceBehavior" name="ZFrameWeb.WCFServices">
        <endpoint address="" behaviorConfiguration="WCFWebEndPointBehavior" binding="webHttpBinding" contract="ZFrameWeb.WCFServices"/>
        <endpoint address="BaseHttp" binding="basicHttpContextBinding" contract="ZFrameWeb.WCFServices"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>