<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpContextBinding_WCFServices" allowCookies="true" />
      </basicHttpBinding>
      <customBinding>
        <binding name="NetHttpBinding_WCFServices">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_WCFServices" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52448/WCFServices.svc/BaseHttp"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpContextBinding_WCFServices"
        contract="WCFS.WCFServices" name="BasicHttpContextBinding_WCFServices" />
      <endpoint address="http://localhost:52448/WCFServices.svc/WsHttp"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_WCFServices"
        contract="WCFS.WCFServices" name="WSHttpBinding_WCFServices">
        <identity>
          <userPrincipalName value="XDA\PeerLessSoul" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:52448/WCFServices.svc/HttpNet"
        binding="customBinding" bindingConfiguration="NetHttpBinding_WCFServices"
        contract="WCFS.WCFServices" name="NetHttpBinding_WCFServices" />
    </client>
  </system.serviceModel>
</configuration>