<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpContextBinding_WCFServices" allowCookies="true" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52448/WCFServices.svc/BaseHttp"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpContextBinding_WCFServices"
        contract="ServiceReference1.WCFServices" name="BasicHttpContextBinding_WCFServices" />
    </client>
  </system.serviceModel>
</configuration>