<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBC" connectionString="Server=.;DataBase=ZDB;User ID=sa;Password=123456;Pooling=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="AuthCodeLength" value="5"/>
    <add key="NeedAuth" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WCFWebEndPointBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" defaultBodyStyle="Bare" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WCFWebServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="6553600" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="WCFWebServiceBehavior" name="ZFrameWCF.WCFServices">
        <endpoint address="" behaviorConfiguration="WCFWebEndPointBehavior" binding="webHttpBinding" contract="ZFrameWCF.WCFServices" />
        <endpoint address="BaseHttp" binding="basicHttpContextBinding" contract="ZFrameWCF.WCFServices" />
        <endpoint address="WsHttp" binding="wsHttpBinding" contract="ZFrameWCF.WCFServices"/>
        <endpoint address="HttpNet" binding="netHttpBinding" contract="ZFrameWCF.WCFServices"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>

</configuration>
